<html>
    <head>
        
    </head>
    <body></body>

        <h1>Sign Up!</h1>
        <form method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" onclick="myFunction()" value="Submit">
          </form>
          {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
         
          
          <a href="{{url_for('login')}}">Log in</a>
    </body>
</html>
